# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
# Grunt
/node_modules/
/deploy/
# Docs
/docs/
# Sass
assets/css/.sass-cache/
.sass-cache/
# OS X metadata
.DS_Store
# Windows junk
Thumbs.db
# Theme specific
test.php
# map files
*.map

# Remove WP Travel Generator.
grunt-wp-travel-addon-generator


# ignore plugin files.
bash
build/**/**
!build/*.zip
i18n
inc/class-modules.php
.editorconfig
#.gitmodules
Gruntfile.js
readme.txt
{{textDomain}}.php

yarn.lock
