<?php
/**
 * Plugin Name: {{name}}
 * Plugin URI: {{url}}
 * Description: {{description}}
 * Version: {{version}}
 * Author: WEN Solutions
 * Author URI: http://wptravel.io
 * Requires at least: {{requiresAtLeast}}
 * Requires PHP: {{requiresPHP}}
 * Tested up to: {{testedUpTo}}
 *
 * Text Domain: {{textDomain}}
 * Domain Path: /i18n/languages/
 *
 * @package {{slug}}
 * @category Core
 * @author WEN Solutions
 */

// Exit if accessed directly.
if ( ! defined( 'ABSPATH' ) ) {
	exit;
}

if ( ! class_exists( '{{main_class}}' ) ) :
	/**
	 * Class {{main_class}}.
	 */
	class {{main_class}} {

		/**
		 * Plugin Name.
		 *
		 * @var string
		 */
		public $plugin_name = '{{slug}}';

		/**
		 * Version.
		 *
		 * @var string
		 */
		public $version = '{{version}}';

		/**
		 * The single instance of the class.
		 *
		 * @var string $_instance
		 */
		protected static $_instance = null;

		/**
		 * Main {{main_class}} Instance.
		 * Ensures only one instance of {{main_class}} is loaded or can be loaded.
		 *
		 * @return {{main_class}} - Main instance.
		 */
		public static function instance() {
			if ( is_null( self::$_instance ) ) {
				self::$_instance = new self();
			}
			return self::$_instance;
		}

		/**
		 * Constructor.
		 */
		public function __construct() {
			$this->define_constants();
			add_action( 'admin_notices', array( $this, 'check_dependency' ) );
			if ( function_exists( 'WP_Travel' ) ) {
				$this->init_hooks();
			}
			{{!-- $this->init_hooks(); --}}
		}

		/**
		 * Plugin constants.
		 */
		private function define_constants() {
			$this->define( '{{upperCase main_class}}_PLUGIN_FILE', __FILE__ );
			$this->define( '{{upperCase main_class}}_ABSPATH', dirname( __FILE__ ) . '/' );
			$this->define( '{{upperCase main_class}}_PLUGIN_BASENAME', plugin_basename( __FILE__ ) );
			$this->define( '{{upperCase main_class}}_PLUGIN_PATH', untrailingslashit( plugin_dir_path( __FILE__ ) ) );
			$this->define( '{{upperCase main_class}}_VERSION', $this->version );
		}

		/**
		 * Define constants.
		 *
		 * @param string $name Constant name.
		 * @param string $value Constant value.
		 */
		public function define( $name, $value ) {
			if ( ! defined( $name ) ) {
				define( $name, $value );
			}
		}

		/**
		 * Include  required function/ class files.
		 */
		private function includes() {
			include sprintf( '%s/inc/class-modules.php', {{upperCase main_class}}_ABSPATH );
		}

		/**
		 * Hooks to init in start.
		 */
		public function init_hooks() {
			$this->includes();
			{{!-- self::load_textdomain(); --}}
			add_action( 'init', array( $this, 'load_textdomain' ) );
			{{#if isPremium}}
			add_filter( 'wp_travel_premium_addons_list', array( $this, 'updater' ) );
			{{/if}}
			add_filter( 'wp_travel_show_upsell_message', array( $this, 'remove_upsell_message' ), 10, 2 );
		}

		/**
		 * Load localisation files.
		 */
		public function load_textdomain() {
			$locale = is_admin() && function_exists( 'get_user_locale' ) ? get_user_locale() : get_locale();
			$locale = apply_filters( 'plugin_locale', $locale, '{{slug}}' );
			unload_textdomain( '{{slug}}' );

			load_textdomain( '{{slug}}', WP_LANG_DIR . '/wp-travel/{{slug}}-' . $locale . '.mo' );
			load_plugin_textdomain( '{{slug}}', false, dirname( plugin_basename( __FILE__ ) ) . '/i18n/languages' );
		}

		/**
		 * This will uninstall this plugin if parent WP Travel plugin not found.
		 */
		public function check_dependency() {
			if ( ! function_exists( 'is_plugin_active' ) ) {
				require_once( ABSPATH . 'wp-admin/includes/plugin.php' );
			}

			if ( ! function_exists( 'wp_travel' ) ) {
				echo '<div class="error wp-travel-admin-notice-error wp-travel-admin-notice">';
				echo wp_kses_post( '<p><strong>{{name}}</strong> requires the <a href="https://wptravel.io/" target="__blank">WP Travel</a> plugin to work. Please activate it first.</p>' ) ;
				echo '</div>';
			} else {
				if ( version_compare( WP_TRAVEL_VERSION, '{{wpTravelVersion}}', '<' ) ) { 
					echo '<div class="error wp-travel-admin-notice-error wp-travel-admin-notice">';
					echo wp_kses_post( '<p>Current version of <strong>{{name}}</strong> requires atleast WP Travel Version {{wpTravelVersion}}. </p>' ) ;
					echo '</div>';
				}
			}
		}
		{{#if isPremium}}
		/**
		 * Updater callback to hook core update.
		 *
		 * @param  array $addons Array of addons.
		 */
		public function updater( $addons ) {
			$addons[ $this->plugin_name ] = array(
				'version'        => {{upperCase main_class}}_VERSION,
				'item_name'      => '{{name}}',
				'author'         => 'WEN Solutions',
				'_option_prefix' => '{{lowerCase main_class}}_license_',
				'_file_path'     => {{upperCase main_class}}_PLUGIN_FILE,
			);
			return $addons;
		}
		{{/if}}

		/**
		 * Remove upsell message from WP Travel.
		 */
		public function remove_upsell_message( $display, $types ) {
			if ( in_array( '{{slug}}', $types ) ) {
				return false;
			}
			return $display;
		}
	}

	/**
	 * Initiate {{name}} addon.
	 */
	function {{lowerCase main_class}}_init() {
		return {{main_class}}::instance();
	}

	{{!-- add_action( 'init', '{{lowerCase main_class}}_init', 1 ); --}}
	{{!-- [added in init due to issues] --}}
	add_action( 'plugins_loaded', '{{lowerCase main_class}}_init' );
endif;
