# Instruction of usages

Follow the given steps for the development of current add.

 - Clone repo `git clone git@gitlab.com:ws-plugins/{{slug}}.git` in your plugins folder.
 -  Go to plugin folder `cd {{slug}}`
 - Checkout to `dev` branch.

> Always work on "**dev**" branch

 - Among other files we need to focus only on `package.json` & `README.hbs` file.
 - `package.json` will have all information regarding plugin. Like name, version, description, submodules and other. So we need to make changes in this file first.
 - `README.hbs` is a template file which later will be converted to `readme.txt` so we need to make changes as per requirement and not change the template vars.
 - Clone another repo within the folder `git clone git@gitlab.com:ws-plugins/grunt-wp-travel-addon-generator.git` and go inside folder

> We are not making any changes in `grunt-wp-travel-addon-generator` so it will always be on `master` branch

 - Run `npm install` or `yarn install`
 - Run `grunt writefile`
 - Alternatively `bash generate.sh` can also be called which runs npm, writefile and also runs npm for main folder.
 - Then go to main folder i.e `{{slug}}`.
{{#each modules}}
 - Add submodule `git submodule add git@gitlab.com:ws-plugins/{{slug}}-core.git inc/modules/{{removePrefix slug}}-core`

> All the submodules should be in `inc/modules` folder with `wp-travel` prefix removed. For example `{{slug}}-core` should be in `inc/modules/{{removePrefix slug}}-core` folder.

 - Go to modules folder `cd inc/modules/{{removePrefix slug}}-core` and checkout to `dev` branch.
 {{/each}}
 - All the changes should be done in this repo. No changes will be done in main addon repo. Except version change and changelog.

# Quick Notes:

 - Clone addon repo and checkout to dev branch
 - Clone generator repo and run grunt
 - Add submodules and checkout to dev
 - Make changes to dev branch
 - In new release make version and change log in main repo.
