<wpml-config>
  <admin-texts>
  {{#if  ( or wpml.settings wpml.settings_array ) }}
    <key name="wp_travel_settings">
      {{#if wpml.settings}}
      {{#each wpml.settings}}
      <key name="{{this}}"/>
      {{/each}}
      {{/if}}
      {{#if wpml.settings_array}}
      {{#each wpml.settings_array}}
      <key name="{{name}}">
        {{#each labels}}
        <key name="{{this}}"/>
        {{/each}}
      </key>
      {{/each}}
      {{/if}}
    </key>
  {{/if}}
  </admin-texts>      
</wpml-config>
