<?php
/**
 * Class Module.
 *
 * @package inc/modules
 */

// Exit if accessed directly.
if ( ! defined( 'ABSPATH' ) ) {
	exit;
}
if ( ! class_exists( '{{main_class}}_Modules' ) ) :
	/**
	 * {{name}} Modules.
	 */
	class {{main_class}}_Modules {
		/**
		 * Modules.
		 *
		 * @var array
		 */
		private static $modules;

		/**
		 * Param.
		 *
		 * @var array
		 */
		private static $params;

		/**
		 * Init.
		 *
		 * @param array $params Param of module.
		 */
		public static function init( $params = array() ) {
			self::$modules = array(
				{{#each modules}}
				'{{slug}}' => array(
					'title'      => __( '{{title}}' ),
					'core_class' => '{{core_class}}',
				),
				{{/each}}
			);

			self::$params = $params;
			self::includes();
			// self::activate();
			// add_action( 'plugins_loaded', array( '{{main_class}}_Modules', 'activate' ) );
		}

		/**
		 * {{main_class}} includes.
		 */
		public static function includes() {
			foreach ( self::$modules as $key => $module ) {
				$main_folder = str_replace( 'wp-travel-', '', $key ) . '-core';
				$module_core_file = sprintf( '%sinc/modules/%s/%s-core.php', {{upperCase main_class}}_ABSPATH, $main_folder, $key );
				if ( file_exists( $module_core_file ) && ! class_exists( $module['core_class'] ) ) {
					include_once( $module_core_file );
					$module['core_class']::init( self::$params );
				}
			}
		}

		/**
		 * {{main_class}} activate.
		 */
		public static function activate() {
			foreach ( self::$modules as $key => $module ) {
				if ( class_exists( $module['core_class'] ) ) {
				}
			}
		}
	}

	$params = array(
		'abspath'     => {{upperCase main_class}}_ABSPATH,
		'plugin_file' => {{upperCase main_class}}_PLUGIN_FILE,
		'version'     => {{upperCase main_class}}_VERSION,
	);
	{{main_class}}_Modules::init( $params );
endif;
